header {
    background-color: slategray;
    width:100%;
    height:250px;
    display:flex;
    justify-content:space-between;
    padding:50px;
}

.header-left {
    margin-top:50px;
    margin-left:50px;
}

.title-logo {
    font-size:70px;
    color:black;
}

.main-index {
    margin:70px;
}

.main-form {
    margin:70px;
    text-align:center;
}

.main-detail {
    margin-top:50px;
    width:100vw;
    height:calc(100vh-250px);
}

.detail-contents {
    margin:0 auto;
    width:70%;
}

.new-button,
.login-button {
    margin-right:20px;
}

.detail-title {
    margin:0 auto;
    width:70%;
    border-bottom:1px solid gray;
    padding-bottom:3px;
    font-weight:bold;
    display:flex;
    justify-content:space-between;
}

.detail-content {
    padding-top:20px;
    margin:0 auto;
    width:70%;
    font-size:30px;
    height:500px;
}

.detail-btns {
    display:flex;
    justify-content:center;
}

.delete-btn {
    margin-left:60px;
}

.form-button {
    margin-right:10px;
}

.form-title {
    width:50%;
    margin:0 auto;
    font-size:100%;
    padding-top:10px;
}

.form-content {
    width:50%;
    margin:0 auto;
    font-size:100%;
    padding-top:10px;
}

.cancel-btn {
    margin-top:20px;
}

.header-right-user {
    padding-left:50px;
    font-size:70px;


}
.header-right-btn {
    display:flex;
    margin-right:100px;
}