<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>新規投稿</title>
</head>
<body>
  <div th:insert="common :: common"></div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

  <div class="main-form">
    <h1>編集</h1>
    <p class="caution">※動作が重たくなりますので、画像を投稿される際はサイズの小さい画像をお選びください。<br>
      画像の合計サイズが20MB以上だと投稿できません。</p>
    <form th:action="@{/account/detail/{id}/update(id=${id})}" th:method="post" th:object="${postForm}" enctype="multipart/form-data">
      <div class="form-title">
        <label for="title">タイトル</label>
        <input type="text" id="title" class="form-control" th:field="*{post.title}"
        th:classappend="${#fields.hasErrors('post.title')} ? is-invalid">
        <p class="invalid-feedback" th:if="${#fields.hasErrors('post.title')}" th:errors="*{post.title}">(errors)</p>
      </div>
      <div class="form-content">
        <label for="content">説明</label>
        <textarea rows="5" id="content" class="form-control" th:field="*{post.content}"
        th:classappend="${#fields.hasErrors('post.content')} ? is-invalid"></textarea>
        <p class="invalid-feedback" th:if="${#fields.hasErrors('post.content')}" th:errors="*{post.content}">(errors)</p>
      </div>
      <div class="form-image">
        <input class="form-control" type="file" name="image"/>
      </div>
      <div class="form-choices">
        <div class="form-choice">
          <label for="choiceContent1">チョイス.1</label><br>
          <input type="text" id="choiceContent1" th:field="*{choices[0].choiceContent}" required>
          <input type="file" id="choiceImage1" name="choiceImage">
          <span th:if="${#fields.hasErrors('choices[0].choiceContent')}" th:errors="*{choices[0].choiceContent}">Choice Error</span>
        </div>
        <div class="form-choice">
          <label for="choiceContent2">チョイス.2</label><br>
          <input type="text" id="choiceContent2" th:field="*{choices[1].choiceContent}" required>
          <input type="file" id="choiceImage2" name="choiceImage">
          <span th:if="${#fields.hasErrors('choices[1].choiceContent')}" th:errors="*{choices[1].choiceContent}">Choice Error</span>
        </div>
        <div class="form-choice">
          <label for="choiceContent3">チョイス.3</label><br>
          <input type="text" id="choiceContent3" th:field="*{choices[2].choiceContent}">
          <input type="file" id="choiceImage3" name="choiceImage">
        </div>
        <div class="form-choice">
          <label for="choiceContent4">チョイス.4</label><br>
          <input type="text" id="choiceContent4" th:field="*{choices[3].choiceContent}">
          <input type="file" id="choiceImage4" name="choiceImage">
        </div>
        <div class="form-choice">
          <label for="choiceContent5">チョイス.5</label><br>
          <input type="text" id="choiceContent5" th:field="*{choices[4].choiceContent}">
          <input type="file" id="choiceImage5" name="choiceImage">
        </div>
      </div>
      <div class="form-submit">
        <button class="mt-4 btn btn-primary btn-lg" type="submit">更新</button>
      </div>
    </form>
    <form class="cancel-btn" th:action="@{/detail/{id}(id=${id})}" method="get">
      <button class="btn btn-outline-secondary btn-lg" type="submit">キャンセル</button>
    </form>
  </div>

</body>
</html>