<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規登録ページ</title>
</head>
<body>
    <div th:insert="common :: common"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <h1 class="m-4">アカウント作成</h1>
    <form th:action="@{/signUp}" th:method="post" th:object="${userForm}">
        <div class="m-4 col-3 col-md-2 col-xxl-1">
            <label for="usernameInput" class="form-label">ユーザー名</label>
            <input type="text" id="usernameInput" class="form-control" th:field="*{username}"
                   th:classappend="${#fields.hasErrors('username')} ? is-invalid">
            <p class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">(errors)</p>
        </div>
        <div class="m-4 col-3 col-md-2 col-xxl-1">
            <label for="passwordInput" class="form-label">パスワード(12~128文字)</label>
            <input type="password" id="passwordInput" class="form-control" th:field="*{password}"
                   th:classappend="${#fields.hasErrors('password')} ? is-invalid">
            <p class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">(errors)</p>
        </div>
        <div class="m-4">
            <button type="submit" class="btn btn-primary">登録</button>
        </div>
    </form>

</body>
</html>